@import '../../styles/variables';
@import '../../styles/mixins';

.navigation {
    &__container {
        position: relative;
        height: 100%;
    }
    &__responsivemenu {
        color: $nav-color;
        display: none;
            @include responsive-tablet {
             display: block;
             cursor: pointer
            }
    }
    &__list-container {
        @include flexrow;
        gap: 25px;
        @include reset-spacing;
        height: 100%;
         color: #D39D91;
        li {
            padding: 0 10px;
            list-style: none;
        }
        a {
            text-decoration: none;
            color: #D39D91;
            padding: 0 10px;
            font-size: 1.1rem;
            &:hover {
                font-weight: bold;
            }
        }
        @include responsive-tablet {
            position: absolute;
            top: 49px;
            width: 300px;
            height: 60vh;
            right: -400px;
            padding: 70px 0 50px 0;
            background-color: #003549;
            transition: right 0.5s ease-in-out;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        li {
            padding: 12px;
        }
 
        &.show {
            right: 0;  // show menu
        }
        }
    }
    &__list-item{
        &.active {
            background-color: #021a22;
            padding: 4px;
            border-radius: 5px;
        }
    }

    &__dropdown {
        background-color: $nav-bgColor;
        position: absolute;
        top: 42px;
        left: 330px;
        border: none;
        @include responsive-tablet {
            display: none; 
            position: relative; 
            left: 0;
            top: 0;
            width: 100%;
        }
        &--open {
            display: flex; 
            flex-direction: column;
        }
    }
    &__dropdown-item {
        height: 35px;            
    }
    &__dropdown-link{
        padding: 10px 0;
        margin: 10px 0; 
    }          
}