@import '../../styles/variables';
@import '../../styles/mixins';
.footer {
    &__container {
        background-color: $nav-bgColor;
        height: 200px;
        color: $hover-color;
        text-align: center;
        width: 100%;
        p {
            margin: $margin-xxl;
            padding: $padding-lg;
            font-size: 1.2rem;
        }
    }
}